@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;

}
ul li{
    margin: 0;
    padding: 0;
}
.mainHead{
    padding: 40px 0;
}


/* Header start Here */


.outerHeader{
    background-image: url(/Images/login_img/login_background_img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
}

.register-btn{
   color: #3f3f3f;
}


/* Header Ends Here */


.custom-container{
    max-width: 900px;
    margin: auto;
}

.logIn-page{
    padding: 75px 0;
}

.left-logIn{
    height: 350px;
    width: 100%;
    border-radius: 5px;
    padding: 100px 0;
    background-color: #fff;

}

.heading-left h5{
    font-weight: 800;
}

.btn-left-login{
    padding: 30px 0;
}

.right-logIn{
    height: auto;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    margin-top: -61px;
    margin-left: -30px;
}




/* footer css */
.mainFooter{
    background-color: #cecece;
    padding: 30px 0px;
    }
    
    .footerLeft ul li{
        display: inline;
        list-style-type: none;
        padding: 0px 10px;
        border-right: 1px solid #3f3f3f;
        margin: 0;
        
    }
    .footerLeft ul li a{
        
    }
    
    .footerRight ul li{
        display: inline;
        list-style-type: none;
        
        
    }
    
    .footerRight ul li a{
        color: #3f3f3f;
        padding: 5px;
    }

    .loginform{
        padding-right: 20px;
        padding-left: 20px;

    } 
    

     .Register-btn{
        border-radius: 5px;
    
    background: rgb(254,251,250);
    background: linear-gradient(101deg, rgba(254,251,250,1) 0%, rgba(229,95,28,1) 0%, rgba(232,36,76,1) 100%);
    color: #fff;
    
    cursor: pointer;
    width: 380px;
   

   
}

.logintext{
    font-size: 20px;
    padding-top: 40px;
} */

#ab{
    margin-top: 100px;
}
   
.RRegister-btn{
    margin-left: 50px;
    border-radius: 5px solid red;
    
    
    
    cursor: pointer;
    width: 380px;
}